<title>Home</title>
    {% if user.is_authenticated %}
        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="position: absolute; left: 50%; right: 50%">Home</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>

        {% if request.user.groups.all.0.name == "admin" %}

        <div style="text-align:left">
        <button type="button" style="position: absolute; top: 25%; left: 25%">
            <a href="../makerulechangerequest">Make Rule Change Request</a>
        </button>
        </div>

        <div style="text-align:center">
        <button type="button" style="position: absolute; top: 50%; left: 40%; right: 40%" >
            <a href="../viewapprovedchanges">View Approved Rule Changes</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; top: 25%; right: 25%">
            <a href="../viewrulechanges">View Rule Change Requests</a>
        </button>
        </div>
        {% endif %}


        {% if request.user.groups.all.0.name == "developer" %}
        <div style="text-align: left">
        <button type="button" style="position: absolute; top: 50%; left: 25%">
            <a href="../makerulechangerequest">Make Rule Change Request</a>
        </button>
        </div>

        <div style = "text-align: right">
        <button type="button" style="position: absolute; top: 50%; right: 25%">
            <a href="../viewapprovedchanges">View Approved Rule Changes</a>
        </button>
        </div>
        {% endif %}

        {% if request.user.groups.all.0.name == "game tester" %}

        <div style="text-align: center">
        <button type="button" style="position: absolute; top: 50%; left: 40%; right: 40%" >
            <a href="../makerulechangerequest">Make Rule Change Request</a>
        </button>
        </div>

        {% endif %}

    {% endif %}



