<title>Home</title>

    {% if user.is_authenticated %}
        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="position: absolute; left: 45%; right: 45%">Home</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>

        {% if request.user.groups.all.0.name == "admin" %}

        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: lightblue; height: 200px; width: 200px; font-size: 20px;  top: 25%; left: 25%">
            <a href="{% url 'makerulechangerequest' %}">Make Rule Change Request</a>
        </button>
        </div>

        <div style="text-align:center">
        <button type="button" style="position: absolute; background-color: lightgreen; height: 200px; width: 200px; font-size: 20px; top: 50%; left: 45%; right: 45%" >
            <a href="{% url 'viewapprovedrulechanges' %}">View Approved Rule Changes</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: lightsalmon; height: 200px; width: 200px; font-size: 20px; top: 25%; right: 25%">
            <a href="{% url 'viewrulechanges' %}">View Rule Change Requests</a>
        </button>
        </div>
        {% endif %}


        {% if request.user.groups.all.0.name == "developer" %}
        <div style="text-align: left">
        <button type="button" style="position: absolute; background-color: lightblue; height: 200px; width: 200px; font-size: 20px;  top: 25%; left: 35%">
            <a href="{% url 'makerulechangerequest' %}">Make Rule Change Request</a>
        </button>
        </div>

        <div style = "text-align: right">
        <button type="button" style="position: absolute; background-color: lightgreen; height: 200px; width: 200px; font-size: 20px; top: 25%; right: 35%">
            <a href="{% url 'viewapprovedrulechanges' %}">View Approved Rule Changes</a>
        </button>
        </div>
        {% endif %}

        {% if request.user.groups.all.0.name == "game tester" %}

        <div style="text-align: center">
        <button type="button" style="position: absolute; background-color: lightblue; height: 200px; width: 200px; font-size: 20px;  top: 25%; left: 46%">
            <a href="{% url 'makerulechangerequest' %}">Make Rule Change Request</a>
        </button>
        </div>

        {% endif %}

    {% endif %}



