<title>Make Rule Change</title>

{% if user.is_authenticated %}
        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="left: 50%; right: 50%">Make Rule Change Request</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>

        <div style="text-align:left">
        <button type="button" style="position: absolute; top: 25%; left: 25%; width: fit-content">
            <a href="../home/">Home</a>
        </button>
        </div>

        <div style="text-align:center">
        <button type="button" style="position: absolute; top: 25%; left: 45%; right: 45%; width: fit-content">
            <a href="../viewrulechanges">View Rule Change Requests</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; top: 25%; right: 25%">
            <a href="../viewapprovedchanges">View Approved Rule Changes</a>
        </button>
        </div>

        <div style = "position: relative; left: 25%; top: 40%">
                <select>
                        <option selected disabled ="true">-- Categories --</option>
                        {% for category in Category %}
                        <option>{{category.name}}</option>
                        {% endfor %}
                </select>

        </div>
        <div style = "position: relative; left: 25%; top: 60%">

        <input type="submit" value="Submit" class ="btn-btn-secondary">

         </div>

{% endif %}