<title>Make Rule Change</title>

{% if user.is_authenticated %}

        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="left: 50%; right: 50%">Make Rule Change Request</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>
        {% if request.user.groups.all.0.name == "admin" %}
        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 25%; width: 100px; height: 100px">
            <a href="{% url 'home' %}">Home</a>
        </button>
        </div>

        <div style="text-align:center">
        <button type="button" style="position: absolute; top: 25%; left: 47%; right: 47%; background-color: salmon; width: 100px; height: 100px;">
            <a href="{% url 'viewrulechanges' %}">View Rule Change Requests</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: lightgreen; height: 100px; width: 100px; top: 25%; right: 25%">
            <a href="{% url 'viewapprovedrulechanges' %}">View Approved Rule Changes</a>
        </button>
        </div>
        {% endif %}

        {% if request.user.groups.all.0.name == "developer" %}

        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 40%; width: 100px; height: 100px">
            <a href="{% url 'home' %}">Home</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: lightgreen; height: 100px; width: 100px; top: 25%; right: 40%">
            <a href="{% url 'viewapprovedrulechanges' %}">View Approved Rule Changes</a>
        </button>
        </div>
        {% endif %}

        {% if request.user.groups.all.0.name == "game tester" %}

        <div style="text-align:center">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 47%; right: 47%; width: 100px; height: 100px">
            <a href="{% url 'home' %}">Home</a>
        </button>
        </div>

        {% endif %}

<br>


<div style = "position: relative; left: 45%; top: 30%">

<form action="" method = "POST" id="my_form">
        Make Rule Change Request
        <br>
        <br>
        {% csrf_token %}
        {% for field in form %}

        <label class="form-label">{{field.label}}</label>

        {{field}}
        <br>
        <br>
        {% endfor %}
        {{form.error}}

        <input type="submit" value="Save" class ="btn btn-primary">

    </form>

        <script>
                function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                                const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                        const cookie = cookies[i].trim();

                                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                        }
                                }
                        }
                        return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');


                let category_field = document.getElementById("id_category")
                let rule_field = document.getElementById("id_rule")
                category_field.addEventListener("change", getCategoryId)

                function getCategoryId(e){
                        console.log(e.target.value)
                        let category_id = e.target.value

                        const data = { id: category_id };

                        let url = "{% url 'rules' %}"

        fetch(url, {
                method: 'POST',
                headers: {
                        'Content-Type': 'application.json',
                        'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
        console.log('Success:', data);
        rule_field.innerHTML = '<option value ="" selected="">------</option>'
        for (let i = 0; i < data.length; i++){
                rule_field.innerHTML += `<option value ="${data[i]["id"]}" selected="">${data[i]["name"]}</option>`
        }
        })
        .catch((error) => {
        console.error('Error:', error);
        });


        }






        </script>

{% endif %}
</div>

