<title>View Rule Changes</title>

{% if user.is_authenticated %}
        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="left: 50%; right: 50%">View Rule Changes</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>

        {% for rule_change in rulechangesdata %}
            <div>
        <tr>
                <td>{{ rule_change.category}}</td>
                <td>{{ rule_change.rule}}</td>
                <td>{{ rule_change.user}}</td>
                <td>{{ rule_change.date_created}}</td>
                <td>{{ rule_change.rule_description}}</td>
                <td>{{ rule_change.rule_status}}</td>
        </tr>
            </div>
        {% endfor %}

{% endif %}