<title>View Rule Change</title>


    {% if user.is_authenticated %}

        <div style="text-align: center">
        <h1 style="position: absolute; left: 45%; right: 45%">View Rule Change</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>

<button type="button" style="position: absolute; top: 5%; text-align: left; left: 5%;">
            <a href="{% url 'viewrulechanges' %}">Back</a>
        </button>

        {% if request.user.groups.all.0.name == "admin" %}
<div style = "position: relative; left: 45%; top: 30%">
    <form action="" method=POST>
        {% csrf_token %}
        Category: {{ rule_change_id.category}}
        <br>
        <br>
        Rule: {{ rule_change_id.rule}}
        <br>
        <br>
        Date Created: {{ rule_change_id.date_created}}
        <br>
        <br>
        Rule Change Information: {{ rule_change_id.rule_description}}
        {{ form.as_p }}


        <input type="submit" value="Update" class ="btn btn-secondary">
</div>


<br>


{% endif %}
{% endif %}
