<title>View Approved Rule Changes</title>

{% if user.is_authenticated %}
        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="left: 50%; right: 50%">View Approved Rule Changes</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>


        {% if request.user.groups.all.0.name == "admin" %}
        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 25%; width: 100px; height: 100px">
            <a href="../home/">Home</a>
        </button>
        </div>

        <div style="text-align:center">
        <button type="button" style="position: absolute; top: 25%; left: 47%; right: 47%; background-color: lightblue; width: 100px; height: 100px;">
            <a href="../makerulechangerequest">Make Rule Change Request</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: salmon; height: 100px; width: 100px; top: 25%; right: 25%">
            <a href="../viewrulechanges">View Rule Change Requests</a>
        </button>
        </div>
        {% for rule_change in rulechangesdata %}
                {% if rule_change.rule_status == 'approved' %}
                <div style = "text-align: center; position: relative; top: 35%">
                        {{ rule_change.category }}
                        {{ rule_change.rule }}
                        {{ rule_change.user }}
                        {{ rule_change.date_created }}
                        {{ rule_change.rule_description }}
                        {{ rule_change.rule_status }}
                </div>
                {% endif %}
        {% endfor %}

        {% endif %}

        {% if request.user.groups.all.0.name == "developer" %}

        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 40%; width: 100px; height: 100px">
            <a href="../home/">Home</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: lightblue; height: 100px; width: 100px; top: 25%; right: 40%">
            <a href="../makerulechangerequest">Make Rule Change Request</a>
        </button>
        </div>

        {% for rule_change in rulechangesdata %}
                {% if rule_change.rule_status == 'approved' %}
        <div style = "text-align: center; position: relative; top: 35%">
                        {{ rule_change.category }}
                        {{ rule_change.rule }}
                        {{ rule_change.user }}
                        {{ rule_change.date_created }}
                        {{ rule_change.rule_description }}
                        {{ rule_change.rule_status }}

        </div>
        {% endif %}}
        {% endfor %}
        {% endif %}

        {% if request.user.groups.all.0.name == "game tester" %}
        <h1>You are not authorized to view this page</h1>
        {% endif %}
{% endif %}