<head>
    <style>
      table, th, td {
          border: 2px solid black;
          padding: 10px;
      }
      table {
          width: 50%
      }
    </style>
</head>
<title>View Approved Rule Changes</title>

{% if user.is_authenticated %}
    {% if request.user.groups.all.0.name == "admin" or request.user.groups.all.0.name == "developer" %}
        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="left: 50%; right: 50%">View Approved Rule Changes</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>



        {% if request.user.groups.all.0.name == "admin" %}
        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 25%; width: 100px; height: 100px">
            <a href="{% url 'home' %}">Home</a>
        </button>
        </div>

        <div style="text-align:center">
        <button type="button" style="position: absolute; top: 25%; left: 47%; right: 47%; background-color: lightblue; width: 100px; height: 100px;">
            <a href="{% url 'makerulechangerequest' %}">Make Rule Change Request</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: salmon; height: 100px; width: 100px; top: 25%; right: 25%">
            <a href="{% url 'viewrulechanges' %}">View Rule Change Requests</a>
        </button>
        </div>

        <div style = "position: absolute; top: 45%; left: 35%; right: 35%">

            <table>
            <center>
        <h2>Approved Rule Changes</h2>
            </center>
        <tr>
            <th>Category</th>
            <th>Rule</th>
            <th>Date Created</th>
            <th>Date Decided</th>
            <th>Rule Description</th>
            <th>Rule Status</th>
        </tr>

        {% for rule_change in rulechangesdata %}
                {% if rule_change.rule_status == 'approved' %}
<tr>
                        <td>{{ rule_change.category }}</td>
                        <td>{{ rule_change.rule }}</td>
                        <td>{{ rule_change.date_created }}</td>
                        <td>{{ rule_change.date_decided}}</td>
                        <td>{{ rule_change.rule_description }}</td>
                        <td>{{ rule_change.rule_status }}</td>

    <td><button type="button"><a href="{% url 'viewapprovedrulechange' rule_change.id %}"> Update Status</a></button></td>

</tr>
                {% endif %}
            </table>
        {% endfor %}
</div>
        {% endif %}

        {% if request.user.groups.all.0.name == "developer" %}

        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 40%; width: 100px; height: 100px">
            <a href="{% url 'home' %}">Home</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: lightblue; height: 100px; width: 100px; top: 25%; right: 40%">
            <a href="{% url 'makerulechangerequest' %}">Make Rule Change Request</a>
        </button>
        </div>

<div style = "position: absolute; top: 45%; left: 35%; right: 35%">

            <table>
            <center>
        <h2>Approved Rule Changes</h2>
            </center>
        <tr>
            <th>Category</th>
            <th>Rule</th>
            <th>Date Created</th>
            <th>Date Decided</th>
            <th>Rule Description</th>
            <th>Rule Status</th>
        </tr>

        {% for rule_change in rulechangesdata %}
                {% if rule_change.rule_status == 'approved' %}
<tr>
                        <td>{{ rule_change.category }}</td>
                        <td>{{ rule_change.rule }}</td>
                        <td>{{ rule_change.date_created }}</td>
                        <td>{{ rule_change.date_decided}}</td>
                        <td>{{ rule_change.rule_description }}</td>
                        <td>{{ rule_change.rule_status }}</td>

    <td><button type="button"><a href="{% url 'viewapprovedrulechange' rule_change.id %}"> Update Status</a></button></td>

</tr>
                {% endif %}
            </table>
        {% endfor %}
</div>
        {% endif %}

        {% endif %}
    {% else %}
    <h1>You are not authorized to view this page</h1>
{% endif %}




