<title>View Rule Changes</title>

{% if user.is_authenticated %}
        {% if request.user.groups.all.0.name == "admin" %}
        <img src="../logo.webp">,
        <div style="text-align: center">
        <h1 style="left: 50%; right: 50%">View Rule Change Requests</h1>
        </div>

        <form action="{% url 'logout' %}?next=/" method = "post">
            {% csrf_token %}
        <button type = "submit" style="text-align:right; position: absolute; top: 5%; right: 5%;">Log Out</button>
        </form>

        <div style="text-align:left">
        <button type="button" style="position: absolute; background-color: grey; top: 25%; left: 25%; width: 100px; height: 100px">
            <a href="{% url 'home' %}">Home</a>
        </button>
        </div>

        <div style="text-align:center">
        <button type="button" style="position: absolute; top: 25%; left: 47%; right: 47%; background-color: lightblue; width: 100px; height: 100px;">
            <a href="{% url 'makerulechangerequest' %}">Make Rule Change Request</a>
        </button>
        </div>

        <div style="text-align:right">
        <button type="button" style="position: absolute; background-color: lightgreen; height: 100px; width: 100px; top: 25%; right: 25%">
            <a href="{% url 'viewapprovedrulechanges' %}">View Approved Rule Changes</a>
        </button>
        </div>

<div style = "text-align: center; position: relative; top: 35%">
        <form action="" method = "POST" id="my_form2">
        View Rule Change Requests
        <br>
        <br>
        {% for rule_change in rulechangesdata %}


                        {{ rule_change.category }}
                        {{ rule_change.rule }}
                        {{ rule_change.user }}
                        {{ rule_change.date_created }}
                        {{ rule_change.rule_description }}
                        {{ rule_change.rule_status }}

        {% csrf_token %}
        {% for field in form %}
        {{ field }}
            <input type="submit" value="Save" class ="btn btn-primary">
            <br>
            <br>
        {% endfor %}
        {% endfor %}
</form>
</div>
        {% else %}
        <h1>You are not authorized to view this page</h1>
        {% endif %}

{% endif %}